{# templates/Registration/login.html.twig #}
{% extends 'Layout/base.html.twig' %}

{% block title %}Login{% endblock title %}

{% block body %}
    <div data-bs-theme="light">
        <div class="bg-body d-flex text-center justify-content-center align-items-center min-vh-100">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form method="post" class="form w-25 pb-5 mb-5">
                <h1 class="pb-4">Login</h1>

                <div class="input-group mb-3">
                    <input type="email" name="_username" value="{{ last_username }}" class="form-control" placeholder="Enter your email" required>
                </div>

                <div class="input-group mb-3">
                    <input type="password" name="_password" class="form-control" placeholder="Enter your password" required>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-danger">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}