{% extends 'Layout/base.html.twig' %}

{% block title %}Waiting{% endblock title %}

{% block body %}
    <div data-bs-theme="light">
        <div class="bg-body d-flex text-center justify-content-center align-items-center min-vh-100">
            <h2>You need to confirm your email !</h2>
        </div>
    </div>
{% endblock body %}